@import url(reset.css);

body{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    min-height: 100vh;
    background-color: #fff;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

html{
    scroll-behavior: smooth;
}

header{
    background-color: lightgray;
    color: black;
    padding: 1rem;
    margin: 0 0 0 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1{
    font-size: 2rem;
    margin: 0;
}

nav ul{
    list-style: none;
    margin: 1rem 0 0 0;
    display: flex;
    justify-content: center;
}

nav ul li{
    margin: 0 1rem; 
}

nav ul li a{
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

section{
    background-color: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 1.5rem;
}
section h2{
    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

section figure{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

section img{
    border-radius: 50%;
    border: 1px solid gray;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

section img:hover {
    transform: scale(1.05);
}

section p {
    text-align: justify;
    line-height: 1.6;
    margin: 0 1rem 1rem 1rem;
    text-align: center;
}

.ler-mais{ 
    display: inline-block; 
    background-color: #3498db; 
    color: #ffffff;
    padding: 8px 15px; 
    border-radius: 8px; 
    text-decoration: none;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    
}

.ler-mais:hover {
    background-color:grey;
}

.lista-noticia {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.noticia-item {
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

article img{
    display: block;
    margin: 0 auto;
}

footer{
    background-color: lightgray ; 
    color: black;
    text-align: center;
    padding: 2rem 0;
    margin-top: 3rem;
}